# Python cache
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.env/
.venv/

# Environment variables
.env

# Flask
instance/
*.sqlite3
*.db

# Logs
*.log

# OS files
.DS_Store
Thumbs.db
