.blink-fast {
    animation: blink_fast 0.5s infinite
}

@keyframes blink_fast {
    0%, 100% {
        opacity: 1
    }
    50% {
        opacity: 0
    }
}

.trade-notification-badge {
    position: absolute;
    top: 0px;
    right: 30px;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color: #dc3545;
    color: white;
    font-size: 0.75rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1;
    border: 2px solid white;
}