.bright {
    filter:brightness(120%)
}

.blink-fast {
    animation: blink_fast 0.5s infinite;
}

.blink-fast:hover {
     filter:brightness(50%);
     opacity: 1;
}

@keyframes blink_fast {
    0%, 100% {
        opacity: 1
    }
    50% {
        opacity: 0
    }
}