<div class="game-card rarity-{{ item.card.rarity.value }}">

    <div class="card-uses">
        {% if item.uses_remaining == -1 %}
            ∞
        {% else %}
            {{ item.uses_remaining }}/{{ item.card.uses}}
        {% endif %}
    </div>

    <div class="card-image">
        <img src="{{ url_for('static', filename='img/' ~ item.card.type.value ~ '.png') }}" alt="{{ item.card.type.value }}">
    </div>

    <div class="card-title-box">
        {{ item.card.name }}
    </div>

    <div class="card-divider"></div>

    <div class="card-body">
        <p>{{ item.card.effect }}</p>

        <div class="card-footer">
            <span>{{ item.card.type.value|capitalize }} - Max
                {% if item.card.max_in_deck == -1 %}
                    ∞
                {% else %}
                    {{ item.card.max_in_deck }}
                {% endif %}
            </span>
        </div>
    </div>

</div>