{% extends "base.html" %}

{% block title %}Game{% endblock %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='cards.css') }}">
<style>
/* temporary style header */
    #grid {
    display: grid;
    grid-template-columns: repeat(32, 24px);
    }
    .grid-tile {
        width: 24px;
        height: 24px;
        display: flex;
        justify-content: center;
        align-items: center;
        }

    .bright {
        filter: brightness(125%);
    }

    /* Game page specific card styles */
    #hand-cards .game-card {
        min-width: 140px;
    }

    #hand-cards .card-body {
        padding: 5%;
        font-size: 90%;
    }

    #hand-cards .card-footer {
        font-size: 0.8rem;
    }

    #hand-cards .card-title-box {
        font-size: 0.8rem;
    }

    #hand-cards .rarity-master .card-title-box {
        font-size: 0.7rem;
    }

    #hand-cards .card-uses {
        font-size: 1rem;
    }
</style>
    <div class="container-fluid row">

        <div class="col-md-9">
            <div class="bg-secondary vh-40 bg-game" id="game-container">
                <div id="grid">
                    {% for row in grid %}
                        {% for tile in row %}
                            {% if tile == -1 %}
                            <div class="grid-tile bg-dark"></div>
                            {% endif %}
                            {% if tile == 0 %}
                            <div class="grid-tile floor bg-secondary"></div>
                            {% endif %}
                            {% if tile == 1 %}
                             <div class="grid-tile wall bg-dark"></div>
                            {% endif %}
                            {% if tile == 2 %}
                             <div class="grid-tile start bg-success"></div>
                            {% endif %}
                            {% if tile == 3 %}
                             <div class="grid-tile end bg-danger"></div>
                            {% endif %}
                            {% if tile == 4 %}
                             <div class="grid-tile enemy bg-info"></div>
                            {% endif %}
                            {% if tile == 5 %}
                             <div class="grid-tile key bg-white"></div>
                            {% endif %}
                            {% if tile == 6 %}
                             <div class="grid-tile exit bg-primary"></div>
                            {% endif %}
                            {% if tile == 7 %}
                             <div class="grid-tile gold bg-warning"></div>
                            {% endif %}
                         {% endfor %}
                    {% endfor %}
                </div>
            </div>
            <div class="d-flex bg-dark" id="card-display">
                <div>
                <h2 class="text-light">Deck</h2>
                <p class="text-light">Cards Left: <span id="deck-size">35</span>/<span id="deck-max">40</span></p>
                </div>
                <div id="hand-cards" class="d-flex flex-wrap gap-2">
                    {% for item in items %}
                    <div>
                        <div class="card-wrapper">
                            {% include "_card.html" %}
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>

        <div id="game-info" class="col-md-3 bg-dark ">
            <h2 class="text-light">Game Info</h2>
            <h3 class="text-light">Turn: <span id="turn-value">0</span></h3>
            <p class="text-light">Health: <span id="health-value">3</span></p>
            <p class="text-light">Stealth: <span id="stealth-value">7</span></p>
            <p class="text-light">Treasure: <span id="treasure-value">5</span></p>
            <p class="text-light">Keys: <span id="keys-value">0</span></p>

            <p class="text-light">Dificulty: <span id="difficulty-value">Normal</span></p>
            <p class="text-light">Floor: <span id="floor-value">1</span></p>
            
            <p class="text-light">Active Cards</p>
            <p class="text-light">Last Used Card: <span id="last-used-value">None</span></p>

        </div>
    </div>
<script src="{{ url_for('static', filename='game.js') }}"></script>
{% endblock %}
