{% extends "base.html" %}

{% block title %}Game{% endblock %}

{% block content %}
<style>
/* temporary style header */
    #grid {
    display: grid;
    grid-template-columns: repeat(28, 24px);
    }
    .grid-tile {
        width: 24px;
        height: 24px;
        display: flex;
        justify-content: center;
        align-items: center;
        }
</style>
<h3>Dungeon Crawler</h3>
    <div class="container-fluid row">

        <div class="col-md-9">
            <div class="bg-secondary vh-40 bg-game" id="game-container">
                <div id="grid">
                    {% for row in grid %}
                        {% for tile in row %}
                            {% if tile == 0 %}
                            <div class="grid-tile floor bg-secondary"></div>
                            {% endif %}
                            {% if tile == 1 %}
                             <div class="grid-tile wall bg-dark"></div>
                            {% endif %}
                            {% if tile == 2 %}
                             <div class="grid-tile start bg-success"></div>
                            {% endif %}
                            {% if tile == 3 %}
                             <div class="grid-tile end bg-danger"></div>
                            {% endif %}
                         {% endfor %}
                    {% endfor %}
                </div>
            </div>
            <div class="d-flex bg-dark vh-40" id="card-display">
                <div>
                <h2>Deck</h2>
                <p>Cards Left: 35/40</p>
                </div>
            </div>
        </div>

        <div id="game-info" class="col-md-3 bg-dark ">   
            <h2>Game Info</h2>
            <p>Health: <span id="health-value">100</span></p>
            <p>Stealth: <span id="stealth-value">100</span></p>
            <p>Treasure: <span id="treasure-value">100</span></p>

            <p>Dificulty: <span id="difficulty-value">Normal</span></p>
            <p>Floor: <span id="floor-value">1/10</span></p>

            <p>Turn: <span id="turn-value">20</span></p>
            <p>Cards Left: <span id="cards-left-value">25</span></p>

            <p>Active Cards</p>
            <p>Last Used Card: <span id="last-used-value">None</span></p>

        </div>
    </div>
<script src="{{ url_for('static', filename='game.js') }}"></script>
{% endblock %}