{% extends "base.html" %}

{% block title %}Leaderboard{% endblock %}

{% block content %}

<body class="bg-light">



    <section class="container py-5 min-vh-100">



      <div class="p-3 pb-4 bg-dark text-white rounded shadow-lg mb-0" style="min-height: 90vh;">
        <h1 class="mb-4 border-bottom text-center text-truncate d-block">Leaderboard</h1>
          <div class="table-responsive border rounded">
            <table class="table table-striped table-md table-dark mb-0 table-bordered">




              <thead class="table-light">
              <tr>
                  <th class="col text-center" style="width: 5%" scope="col">
                    <a class = "text-dark text-decoration-none text-center {% if sort == 'ranking' %}text-decoration-underline{% endif %}" href="{{ url_for('main.leaderboard', sort='ranking') }}"> Ranking </a>
                  </th>
                  <th class = "text-center" scope="col">
                    <a class = "text-dark text-decoration-none text-center {% if sort == 'player' %}text-decoration-underline{% endif %}" href="{{ url_for('main.leaderboard', sort='player') }}"> Player </a>
                  </th>
                  <th class = "text-center" scope="col">
                    <a class = "text-dark text-decoration-none {% if sort == 'stat1' %}text-decoration-underline{% endif %}" href="{{ url_for('main.leaderboard', sort='stat1') }}"> stat1 </a>
                  </th>
                  <th class = "text-center" scope="col">
                    <a class = "text-dark text-decoration-none {% if sort == 'stat2' %}text-decoration-underline{% endif %}" href="{{ url_for('.leaderboard', sort='stat2') }}"> stat2 </a>
                  </th>
              </tr>
              </thead>




              <tbody class="bg-secondary">
              {% for row in players %}
              <tr>
                  <th class = "text-center" scope="row">{{ row.ranking }}</th>
                  <td class = "text-center">{{ row.player }}</td>
                  <td class = "text-center">{{ row.stat1 }}</td>
                  <td class = "text-center">{{ row.stat2 }}</td>
              </tr>
              {% endfor %}
              </tbody>






            </table>
          </div>
      </div>

    </section>




  </body>
{% endblock %}
